<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Welcome to <%= title %></h1>
    <center><a href="/feed"><button type="submit">Show records</button></a></center>
    
   
  </body>
</html>
